version: 2.1

commands:
  test:
    description: "test module"
    parameters:
      working_directory:
        type: string
    steps:
      - run:
          command: go mod download
          working_directory: << parameters.working_directory >>
      - run:
          command: golangci-lint run
          working_directory: << parameters.working_directory >>
      - run:
          command: go test -v .
          working_directory: << parameters.working_directory >>


  gomod:
    description: "check Go module"
    parameters:
      working_directory:
        type: string
    steps:
      - run:
          command: go mod tidy && git diff --exit-code
          working_directory: << parameters.working_directory >>

jobs:
  build:
    parameters:
      golang_version:
        type: string
      check_modules:
        type: boolean
        default: false

    docker:
      - image: circleci/golang:<< parameters.golang_version >>

    environment:
      GO111MODULE: "on"

    steps:
      - checkout
      - run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.31.0
      - test:
          working_directory: .
      - when:
          condition: << parameters.check_modules >>
          steps:
            - gomod:
                working_directory: .

workflows:
  version: 2
  main:
    jobs:
      - build:
          name: go1.14
          golang_version: "1.14"
          filters:
            tags:
              only: /.*/
      - build:
          name: go1.15
          golang_version: "1.15"
          filters:
            tags:
              only: /.*/
      - build:
          name: go1.16
          golang_version: "1.16"
          filters:
            tags:
              only: /.*/
